# Course Enrollment

## Authors: Isaac, Conor, and Quoc

    The purpose of this notebook is to teach you, the reader, how to use the code that we have spent the past year creating. The purpose of that code is to predict course enrollment for given quarters. What that means is that you can give our code a large amount of data, which we will teach you how to format and where to put it, and the code will learn the patterns of that code and predict the number of students that will take every class for the quarters that you wish to predict.

In [1]:
# This code block contains all necessary libraries needed to run the code
# Consult the README file to learn how to install the libraries on your machine
import pandas as pd
import random
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score, root_mean_squared_error
import matplotlib.pyplot as plt


# These are not libraries but our code, made to be run from only a few lines for clarity's sake
from curation import Curate
from create_datasets import CreateData
from kfold_test import kfold

In [2]:
# This is the data that we use to train our model
# Make sure your data is in this format, we got this from the Registrar's office
base_data = pd.read_csv('data/WWU_course_info.csv', encoding='ISO-8859-1')
base_data.head()

,TERM,CRN,SUBJECT,COURSE_NUMBER,TITLE,ACTUAL_ENROLL,CAPENROLL,PRIMARY_BEGIN_TIME,PRIMARY_END_TIME,U,M,T,W,R,F,S,PRIMARY_INSTRUCTOR_TENURE_CODE,CAMPUS
0,201510,10046,COMM,442,Video Workshop,12,16,1700.0,1820.0,NaN,NaN,T,NaN,R,NaN,NaN,NT,M
1,201510,10049,ENG,101,Writing and Critical Inquiry,24,24,830.0,950.0,NaN,M,NaN,NaN,NaN,F,NaN,NaN,M
2,201510,10052,ENG,101,Writing and Critical Inquiry,24,24,830.0,950.0,NaN,M,NaN,W,NaN,NaN,NaN,NaN,M
3,201510,10055,ECON,206,Intro to Microeconomics,60,60,1130.0,1250.0,NaN,M,NaN,W,NaN,F,NaN,NT,M
4,201510,10060,ENG,101,Writing and Critical Inquiry,24,24,1000.0,1120.0,NaN,M,NaN,NaN,NaN,F,NaN,NaN,M

In [3]:
# This class creates two seperate files, machine_learning_data.csv and visualization.csv
# Both are used for what the names imply, we will use the first to train our models and the 
# second to create graphs and understand the data
Curate.main(base_data)

In [4]:
# This class takes the machine learning data created in the previous class and splits it up into smaller chunks
# That way when training takes place it can randomize the quarters and train on them and test on them randomly which does better than in order
CreateData.main()

In [5]:
# Using various searching algorithms, we have found that the below model is one of our best models
model = MLPRegressor(
    hidden_layer_sizes=(100,),
    activation='tanh',
    solver='adam',
    learning_rate='adaptive',
    max_iter=500,
    alpha=0.0001,
    verbose=False
)

In [6]:
# This function runs a machine learning model, chosen above, using 4 quarters as the validation set against the rest.
# Set print_results variable to true if you want to see the results of the tests as they run
# Otherwise only the mean of the tests will be outputted
print_results = False
kfold.main(model, print_results)

0.5056456349984612