# Course Enrollment

## Authors: Isaac, Conor, and Quoc

    The purpose of this notebook is to teach you, the user, how to use the code that we have spent the past year creating. The purpose of that code is to predict course enrollment for given quarters. What that means is that you can give our code a large amount of data, which we will teach you how to format and where to put it, and the code will learn the patterns of that code and predict the number of students that will take every class for the quarters that you wish to predict.

In [1]:
# This code block contains all necessary libraries needed to run the code
# Consult the README file to learn how to install the libraries on your machine
import pandas as pd
import random
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score, root_mean_squared_error
import matplotlib.pyplot as plt


# These are not libraries but our code, made to be run from only a few lines for clarity's sake
from curation import Curate
from create_datasets import CreateData
from kfold_test import kfold
from dataset import EnrollmentDataset
from sklearn_model import sklearnModel
from sklearn_trainer import Trainer

In [2]:
# This is the data that we use to train our model
# Make sure your data is in this format and put the path to your data where data/WWU_course_info.csv is
# We got this from the Registrar's office
base_data = pd.read_csv('data/WWU_course_info.csv', encoding='ISO-8859-1')
base_data.head()

,TERM,CRN,SUBJECT,COURSE_NUMBER,TITLE,ACTUAL_ENROLL,CAPENROLL,PRIMARY_BEGIN_TIME,PRIMARY_END_TIME,U,M,T,W,R,F,S,PRIMARY_INSTRUCTOR_TENURE_CODE,CAMPUS
0,201510,10046,COMM,442,Video Workshop,12,16,1700.0,1820.0,NaN,NaN,T,NaN,R,NaN,NaN,NT,M
1,201510,10049,ENG,101,Writing and Critical Inquiry,24,24,830.0,950.0,NaN,M,NaN,NaN,NaN,F,NaN,NaN,M
2,201510,10052,ENG,101,Writing and Critical Inquiry,24,24,830.0,950.0,NaN,M,NaN,W,NaN,NaN,NaN,NaN,M
3,201510,10055,ECON,206,Intro to Microeconomics,60,60,1130.0,1250.0,NaN,M,NaN,W,NaN,F,NaN,NT,M
4,201510,10060,ENG,101,Writing and Critical Inquiry,24,24,1000.0,1120.0,NaN,M,NaN,NaN,NaN,F,NaN,NaN,M

In [3]:
# This class creates two seperate files, machine_learning_data.csv and visualization.csv
# Both are used for what the names imply, we will use the first to train our models and the 
# second to create graphs and understand the data
Curate.main(base_data)

In [4]:
# This class takes the machine learning data created in the previous class and splits it up into smaller chunks
# That way when training takes place it can randomize the quarters and train on them and test on them randomly which does better than in order
CreateData.main()

In [5]:
# Using various searching algorithms, we have found that the below model is one of our best models
model = MLPRegressor(
    hidden_layer_sizes=(100,),
    activation='tanh',
    solver='adam',
    learning_rate='adaptive',
    max_iter=500,
    alpha=0.0001,
    verbose=False
)

In [6]:
Trainer.main()

Validation RMSE: 6.12
R² Score: 0.58

('data/fold_1.csv',
 0      18
 1      35
 2      33
 3      28
 4      13
        ..
 183    16
 184    26
 185    20
 186    24
 187    35
 Name: ACTUAL_ENROLL, Length: 188, dtype: int64,
 array([17.62174007, 32.29785176, 28.8919625 , 19.70403695, 21.16444817,
        21.16444817, 48.56792646, 34.16256005, 21.19502117, 16.68745252,
        20.39511723, 19.54838641, 20.63149352, 28.54941419, 20.94158016,
        20.39511723, 36.88513671, 16.68745252, 20.39511723, 20.39511723,
        19.54838641, 28.24077531, 23.39198164, 21.35384605, 20.94158016,
        14.55878146, 17.62174007, 31.09242495, 21.16444817, 39.62862517,
        21.19502117, 33.44599798, 17.14707743, 21.16444817, 36.40232933,
        22.18737511, 21.59770577, 33.62834413, 26.50444396, 29.64291852,
        20.63149352, 28.22635001, 21.19502117, 27.1282813 , 19.35516235,
        21.46625456, 51.32003066, 22.91804195, 21.86174652, 16.64847187,
        27.30116273, 19.35516235, 28.01375969, 21.34195269, 35.39844686,
        42.10073679, 32.55543881, 53.00828658, 28.11351884, 34.55186663,
        28.11351884, 34.67690459, 42.22703064, 30.15649401, 21.86174652,
        32.50406109, 47.54792182, 32.50406109, 33.8076458 , 28.11351884,
        21.46625456, 24.77835751, 37.87167386, 24.05081591, 27.30116273,
        34.75283293, 23.45506671, 27.66720045, 34.35500907, 51.98763493,
        31.72029495, 33.88363141, 32.50406109, 32.50406109, 21.5666114 ,
        21.21708534, 19.99894449, 17.15592266, 18.6211493 , 20.14367726,
        18.6211493 , 16.827555  , 40.58023602, 32.83279083, 21.32632916,
        20.51370887, 17.4934634 , 32.03433232, 19.24712838, 19.01835959,
        13.70170449, 21.5666114 , 20.3781933 , 19.99894449, 31.62060681,
        22.65598613, 42.67632097, 29.01072633, 31.49515456, 19.23549929,
        15.6726577 , 27.38811992, 16.827555  , 28.27066717, 30.39628173,
        22.65598613, 25.80422622, 21.5666114 , 16.21458016, 22.65598613,
        19.02854605, 28.46725176, 20.64906124, 17.15592266, 26.66197499,
        26.83567047, 16.827555  , 20.21039868, 13.92062364, 21.18102036,
        31.89490316, 13.76481816, 18.62793571, 14.6158576 , 18.47406864,
        18.51881417, 32.4437595 , 24.76882532, 18.27189543, 21.43035531,
        21.14149302, 18.51881417, 18.6201747 , 29.90199231, 26.54812287,
        27.23363794, 25.31162501, 20.61905932, 32.49079235, 17.74576982,
        21.43245275, 30.61260976, 19.95749909, 24.76882532, 21.31210618,
        29.34063329, 15.55749768, 31.92130741, 18.47406864, 23.75420259,
        19.65674095, 18.27189543, 29.74058497, 21.18102036, 32.63622282,
        18.27189543, 24.80999093, 36.47419769, 21.17107655, 11.30134947,
        19.84301583, 21.14149302, 21.53723673, 18.27189543, 19.67280538,
        29.29287287, 23.32537656, 22.83077844, 18.27189543, 21.43245275,
        18.31151083, 18.47406864, 19.67280538, 13.53568013, 26.93624172,
        21.43035531, 24.76882532, 30.98961625]))